body{
    margin: 0px;
    background-color: #FFE9D3;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    background-color: black;
}

.navbar .menu {
    display: flex;
    align-items: center;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navbar .menu li {
    margin: 0 10px;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Inter";
}

.navbar .menu .logo a {
    font-size: 30px;
    text-align: center;
    padding: 0;
    font-family: "Italiana";
}

.auth-button {
    position: absolute;
    right: 20px;
    display: flex;
}

.auth-button .button {
    background-color: #D1B488;
    color: black;
    font-family: "Inter";
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    font-family: "Inter";
}

.auth-button a:nth-child(2){
    background-color: transparent;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 25px;
    border: 2px solid #D1B488;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    font-family: "Inter";
}

.content {
    margin: 35px 50px;
}

.title h1{
    font-family: "Syncopate";
    font-weight: 400;
}

.about-1{
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
}

.about-1 img{
    width: 40rem;
}

.about-1 p{
    margin-top: 51px;
    font-family: "Tenor Sans";
}

.informasi-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.informasi{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.informasi-container p:nth-child(1){
    font-family: "Syncopate";
    font-size: 30px;
    margin: 0;
}

.informasi-container p:nth-child(2){
    font-family: "Tenor Sans";
    font-size: 15px;
}


.about-2{
    margin: 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    
}

.about-2 img{
    width: 30rem;
}

.about-2 p{
    margin-top: 51px;
    margin-left: 60px;
    font-family: "Tenor Sans";
}

.tim-container h1{
    font-family: "Krona One";
}

.row-1{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.row-1 div:nth-child(1){
    align-self: flex-start;
    font-family: "Tenor Sans";
    background-color: #1A1A1A;
    color: #DEDEDE; 
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 250px;
}

.raja {
    padding-right: 150px !important;
}

.bagus{
    padding-left: 240px !important;
}

.akbar{
    padding-right: 200px !important ;
}

.row-1 div:nth-child(2){
    text-align: right;
    align-self: flex-start;
    font-family: "Tenor Sans";
    background-color: #1A1A1A;
    color: #DEDEDE; 
    border-radius: 25px;
    padding-left: 250px;
    padding-right: 40px;
}

.footer{
    width: 100%;
    text-align: center;
    margin: 0px;
    background-color: #14213D;
}

.footer p{
    padding: 10px 0px;
    color: white;
    margin: 0px;
}

