body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    font-family: "Inter";
    background-color: #FFE9D3;
    overflow-y: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #E0CEBC;
    margin-bottom: 20px;
}

.navbar .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.profile{
    position: absolute;
    width: 20px;
    right: 60px;
}

.navbar .menu li {
    margin: 0 10px;
}

.navbar .menu li a {
    color: #33667E;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Inter";
}

.navbar .menu .logo a {
    font-size: 30px;
    text-align: center;
    padding: 0;
    font-family: "Italiana";
}

.info-container{
    margin: 0px 60px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.gambar img{
    object-fit: cover;
    width: 500px;
    height: 250px;
}

.menu-container{
    margin: 0px 60px;
    margin-top: 50px;
}

.comment-container{
    margin: 0px 60px;
    margin-top: 50px;
}

.menu-cafe{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item{
    background-color: #E0CEBC;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.komentar{
    background-color:#E0CEBC ;
    padding: 10px 30px;
    border-radius: 20px;
    max-height: 300px;
    overflow-y: auto;    
    margin-bottom: 30px;
}

.input-comment{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.input-comment input[type="text"]{
    width: 90%;
    font-weight: 500;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
}

.input-comment input:focus{
    outline: none;
}

.input-comment input[type="submit"]{

    background-color: #D1B488;
    border: none;
    border-radius: 10px;
    color: #000;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.time-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagram-container img{
    width: 17px;
}

.instagram-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.tambah-menu{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.tambah-menu input[type="text"]{
    font-weight: 500;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
}

.tambah-menu input[type="submit"]{
    font-weight: 500;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    background-color: #D1B488;
    border-radius: 10px;
    padding: 15px 20px;
}